body {
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
}
.container{
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  /* background-color: red!important; */
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
}
header > *{
  margin-top: 40px;
}
header nav {
  display: flex;
  align-items: center;
  width: 860px;
}

header ul {
  list-style: none;
  display: flex;
}
header ul li{
  margin-left: 55px;
  display: block;
}
header ul a {
  text-decoration: none;
  color: #373737;
  font-weight: 500;
  font-size: 17px;
}

.apply {
  border: 1px solid #717CFF;
  padding: 12px 32px;
  border-radius: 8px;
  transition: 0.3s;
}

.apply:hover {
  background-color: #717CFF;
  color: #fff;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.hero {
  width: 1183px;
}

.hero h2 {
  margin-top: 200px;
  font-weight: 900;
  font-size: 56px;
}

.hero span {
  color: #717CFF;
}

.hero p {
  margin-top: 30px;
  font-weight: 500;
  font-size: 22px;
  color: #7D7D7D;
}

.hero-link {
  display: inline-block;
  background-color: #717CFF;
  color: #fff;
  border: 1px;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  padding: 12px 90px 12px 34px;
  border-radius: 11px;
  margin-top: 30px!important;
}

.hero ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.socials{
  margin-top: 80px;
}
.unversities {
  background-color: #FAFAFA;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unversities h2 {
  columns: #373737;
  opacity: 0.73;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-top: 50px;
}

.unversities ul {
  margin-top: 90px;
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 1183px;
}

.unversities a img {
  width: 225px;
  height: 67px;
}

.slider-indicator {
  margin-top: 100px;
  display: flex;
  width: 100px !important;
  height: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.slider-indicator button {
  width: 15px;
  height: 15px;
  background: rgba(124, 124, 124, 0.318837);
  border: none;
  border-radius: 50%;
  cursor: pointer;

}

button.active-indicator {
  background: #717CFF;
  width: 20px;
  height: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionheader {
  margin-top: 150px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  color: #373737;
}

.sectiontext {
  margin-top: 25px;
  display: block;
  width: 80%;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
  margin: 0;
}

.services ul {
  margin-top: 100px;
  width: 1183px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.services ul li {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 32px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.services ul li img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.services ul li h3 {
  color: #37474F;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}

.services ul li p {
  color: #37474FB8;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.services ul li a {
  color: #717CFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.news {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news h2{
  margin-top: 100px;
  margin-bottom: 0;
}
.news > p{
  margin-top: 25px;
}
.news time {
  color: #565656;
  font-weight: 900;
  font-size: 16px;
}
.news a {
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
  font-weight: bold;
  display: block;
}
.news ul{
  margin-top: 120px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1183px;
}
.news li{
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  width: 345px;
  padding-bottom: 5px;
}
.news span, .news a{
  padding: 5px 25px;
}
.ready a,
.news > a{
  color: #fff;
  background: #717CFF;
  padding: 12px 34px;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  border-radius: 10px;
  margin-top: 140px;
  text-decoration: none;
}


.statistics{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics ul{
  margin-top: 130px ;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.statistics ul.slider li{
  width: 540px;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 30px;
}
.statistics .slider-indicator{
  margin-top: 80px;
}
.top{
  display: flex;
}
.date{
  width: 75px;
  height: 75px;
  background: rgba(113, 124, 255, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #717CFF;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.statistics ul h3{
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  line-height: 37px;
  padding-left: 10px;
  color: #37474F;
}
.statistics ul p{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: rgba(55, 71, 79, 0.721569);
}
.statistics ul li a {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  text-decoration: none;
  color: #717CFF;
}
.bottom span{
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.4px;
  color: #373737;
}


.countries{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countries ul{
  margin-top: 70px;
  display: flex;
  list-style: none;
  /* background-color: red; */
}
.countries .slider-indicator{
  justify-content: space-between;
}
.countries ul:nth-child(1) li{
  width: 350px;
  margin-right: 45px;
}
.countries ul li img{
  border-radius: 20px;
}
.countries ul li h3{
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
  padding-top: 20px;
  margin: 0;
}
.countries ul li p{
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
  margin: 0;
}

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial ul{
  margin-top: 140px;
  list-style: none;
  display: flex;
  /* width: 80%; */
  justify-content: space-between;
}
.testimonial .slider-indicator{
  margin-top: 35px;
}
.testimonial ul.slider li{
  width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 35px;
  box-sizing: border-box;
}
.testimonial .first{
  display: flex;
}
.first img{
  width: 65px;
  height: 65px;
  border-radius: 12px;
}
.first div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.first h3{
  margin: 0;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #37474F;
}
.first span{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #37474F;
  mix-blend-mode: normal;
  opacity: 0.65;
}
.testimonial li p{
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.721569);
}

.ready{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 80px;
  align-items: center;
}
.ready h2{
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  color: #252525;
}
.ready > a{
  margin-top: 0;
}
footer{
  background-color: #717CFF;
  display: flex;
  justify-content: center;
}
footer > ul{
  display: flex;
  width: 1183px;
  justify-content: space-between;
}
footer{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #EEEEEE;
}
footer a{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  color: #EEEEEE;
  margin: 5px 0;
  display: inline-block;
}
footer ul ul{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
footer .socials{
  margin-top: 150px;
  flex-direction: row;
}